.WatchPanel {
  max-height: 300px;
  margin-top: 10px;
  scroll-behavior: smooth;
  overflow-y: auto;
  width: fit-content;
}

h3 {
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  margin: 2px;
}